<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title style="text-align: center;">Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center" color="ligth">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/menu/agregarcontactos">
        <ion-icon name="person-add-outline"></ion-icon>
        <ion-label>Agregar contacto</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/menu/agregarcontactos">
        <ion-icon name="person-remove-outline"></ion-icon>
        <ion-label>Eliminar contacto</ion-label>
      </ion-tab-button>
  
      <ion-tab-button routerLink="/menu/agregarcontactos">
        <ion-icon name="repeat-outline"></ion-icon>
        <ion-label>Modificar contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  <ion-list *ngFor="let contacto of Contactos">
    <ion-item [routerLink]="">
      <ion-avatar style="padding: 1px;">
        <ion-img src="assets/icon/userIcon.png"></ion-img>
      </ion-avatar>
     <ion-label style="margin-left:10px ;">
        <h2>nombre:  {{contacto.nombre}} </h2> 
        <h3>fono:  {{contacto.fono}} </h3>         
     </ion-label> 
     <ion-button color="success" (click)="contactos ==contacto">
      <ion-icon  name="create-outline"></ion-icon>
     </ion-button>
     <ion-button color="danger" (click)="borrarContacto(contacto)">
      <ion-icon  name="trash-outline" ></ion-icon>
     </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
